.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.25rem 0 clamp(6.25rem, 6.184rem + 0.2817vw, 6.4375rem);
  color: var(--accent-color);
  font-family: var(--main-font, "Inter"), sans-serif;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 20rem;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-text-weight);
}

.header,
.card {
  border: 2px solid var(--accent-color);
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-end: 6.25rem;
  padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem) 1.6rem;
  font-family: var(--accent-font, "PressStart2P"), sans-serif;
  text-transform: uppercase;
  background-color: var(--background-color);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__logo:focus {
  outline: none;
}

.header__title {
  padding-block: 1.25rem 1.563rem;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline-start: 1.125rem;
}

.theme-menu__button {
  border: none;
  padding: 0;
  font-size: 0.875rem;
  text-transform: uppercase;
  background: inherit;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 60%;
}

.theme-menu__button:hover {
  opacity: 60%;
  cursor: pointer;
}

.theme-menu__button::after {
  content: "";
  display: block;
  background-color: var(--accent-color);
  transition: 0.3s ease;
  transform: scale(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 0.125rem;
}

.theme-menu__button:focus-visible::after {
  transform: scale(1);
}

.theme-menu__button:disabled {
  position: relative;
  opacity: 60%;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: moving 0.5s ease-in-out alternate infinite;
  inset-inline-start: -20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.card {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.563rem;
  background-color: var(--background-color);
}

.card__image-wrapper {
  position: relative;
}

.card__title {
  border-block-end: 2px solid var(--accent-color);
  padding: 0.219rem 0.625rem 0.219rem 0.625rem;
  font-size: 1.125rem;
  font-variation-settings: "wght" var(--title-weight);
}

.card__image {
  display: flex;
  object-fit: cover;
  inline-size: 100%;
  block-size: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
}

.card__label {
  position: absolute;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-shadow: 
  1px 0 var(--background-color),
  -1px 0 var(--background-color),
  0 1px var(--background-color),
  0 -1px var(--background-color);
  inset-inline-end: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  inset-block-start: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__label {
    text-shadow: none;
    text-stroke: 1px var(--background-color);
    -webkit-text-stroke: 1px var(--background-color);
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 1.688rem;
  border-block-start: 2px solid var(--accent-color);
  padding: clamp(1.5625rem, 1.5185rem + 0.1878vw, 1.6875rem) 1.563rem 1.563rem;
  font-size: 1.125rem;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  padding: 0 1.563rem 0;
  max-block-size: 2.375rem;
}

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font, "PressStart2P"), sans-serif;
  font-size: 0.875rem;
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:hover {
  cursor: pointer;
}

.button:focus,
.card__icon-button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__icon-button {
  display: flex;
  border: 2px solid transparent;
  padding: 0;
  background-color: inherit;
  transition: border-color 0.3s ease;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover {
  cursor: pointer;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  padding: 0.625rem 1.063rem;
  inline-size: 8.125rem;
}

.like-icon {
  inline-size: 2.438rem;
  block-size: 2.25rem;
}

.button__text {
  color: var(--button-text-color);
  line-height: 90%;
  mix-blend-mode: difference;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: center;
  padding: 0.938rem 1.25rem;
}

.dialog__icon {
  flex: none;
  inline-size: 2.438rem;
}

.floppy_icon {
  color: var(--button-text-color, #ffffff);
  mix-blend-mode: difference;
}

.save-button .floppy_icon {
  inline-size: 1.313rem;
}

.pop-up {
  position: fixed;
  border: 2px solid var(--accent-color);
  padding: 1.875rem;
  background-color: var(--background-color);
  max-inline-size: 22.063rem;
}

.pop-up[open] {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.pop-up::backdrop {
  background: rgb(0 0 0 / 0.75);
}

.pop-up__title-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.pop-up__title {
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 150%;
}

.pop-up__button {
  padding: 0.563rem 0;
  inline-size: 100%;
}

.pop-up__button .button__text {
  text-transform: uppercase;
}

.filter-contrast {
  filter: contrast(70%);
}

.filter-hue-rotate {
  filter: hue-rotate(9deg);
}

.filter-invert {
  filter: invert(20%);
}

.filter-blur {
  filter: blur(5px);
}

.filter-sepia-brightness {
  filter: sepia(30%) brightness(80%);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-hue-rotate-saturate {
  filter: hue-rotate(310deg) saturate(70%);
}

@media (width <= 375px) {

  .header,
  .card {
    inline-size: 100%;
  }

  .card__title {
    padding: 0.281rem 0.625rem 0.281rem 0.625rem;
  }

  .save-button {
    flex-direction: column;
  }

  .save-button .floppy_icon {
    inline-size: 1.75rem;
  }

  .pop-up {
    padding-inline: 2.5rem;
    max-inline-size: 21.313rem;
  }
}
